/.idea
/public/storage
/storage/*.key
/storage/*.index
/vendor
.env
#.phpunit.result.cache
#Homestead.json
#Homestead.yaml
#npm-debug.log
#yarn-error.log
/public/css
/public/js
!/public/js/tinymce
/public/mix-manifest.json
/public/sitemap.xml
.phpstorm.meta.php
_ide_*.php
none